body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: lightgray;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

